@import url('https://fonts.googleapis.com/css2? family=Kdam+Thmor+Pro&family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,100;1,300;1,500&display=swap');

:root {
    --primary-color: rgb(13, 106, 134);
    --primary-color-darker: rgb(9, 49, 65);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background: var(--primary-color-darker);
    font-family: 'Open sans', sans-serif;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #2c3e50;
    margin-top: 128px;
    padding: 54px;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.view {
    background: #566573;
    width: 252px;
    height: 252px;
    border: 8px solid #5499c7;
    padding: 24px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-bottom: 32px;
    margin-top: 32px;
}

.view span {
    font-size: 2rem;
    font-weight: medium;
}

.reset {
    background: #85c1e9;
    color: #2c3e50;
    border: none;
    padding: 24px;
    border-radius: 50%;
    cursor: pointer;
}

.reset:hover {
    background: #acd6f1;
}

.start {
    background: #3498db;
    color: #2c3e50;
    border: none;
    padding: 24px;
    border-radius: 50%;
    cursor: pointer;
}

.start:hover {
    background: #5dade2;
}

.pause {
    background: #aed6f1;
    color: #2c3e50;
    border: none;
    padding: 24px;
    border-radius: 50%;
    cursor: pointer;

    display: none;
}

.pause:hover {
    background: #d6eaf8;
}



